<div id="product-<%=product.code%>" class="product <%= 'in_cart' if product.in_cart %>">

	<div class="thumbnail left">
		<%= image_tag product.thumbnail %>
	</div>
	
	<div class="left details">
		<div class="description">
			<span class="right unit_price"><%= number_to_currency product.unit_price, :precision => 0 %></span>	

			ART.<%= product.code %> <%= product.description %>
		</div>
		<div class="clear"></div>
	
	<%= form_tag({:action => :agregar}, {:remote => :true}) do -%>
	  <%= hidden_field_tag :code, product.code %>

	  <%= label_tag :quantity, 'Cantidad total' %>
	  <%= text_field_tag :quantity, product.quantity, :size => 4 %>
	  <br/>
	  
	  <%= label_tag :sizes, 'Talles' %>
	  <%= text_field_tag :sizes, product.sizes, :size => 14 %>
	  <br/>

	  <div class="right">
		  <% if product.in_cart %>
			<button class="button clean-gray" onclick="$('#quantity', $(this).closest('form')).val('');">Quitar</button>
		  <% end %>	

		  <% if product.in_cart %>
			<button class="button cupid-green">Modificar</button>
		  <% else %>
			<button class="button cupid-green" onclick="var q=$('#quantity', $(this).closest('form')); if(q.val() == '') { q.val('1'); };" >Agregar</button>
		  <% end %>
	  </div>
	<% end -%>
		
	</div>
	
	<div class="clear"></div>
</div>