<div id="product-<%=product.code%>" class="product <%= 'in_cart' if product.in_cart %>">

	<div class="upper">
		<span class="left">$ <%= product.unit_price %></span>	
		<%= image_tag product.thumbnail, :class=> "right" %>
		<div class="clear"></div>
	</div>
	
	<hr />	
	ART.<%= product.code %> <%= product.description %>
	
	<%= form_tag({:action => :agregar}, {:remote => :true}) do -%>
	  <%= hidden_field_tag :code, product.code %>

	  <%= label_tag :quantity, 'Cantidad total' %>
	  <%= text_field_tag :quantity, product.quantity, :size => 4 %>

	  <% if product.in_cart %>
	 	<%= submit_tag 'Modificar', :class => 'button' %>
	  <% else %>
	  	<%= submit_tag 'Agregar', :class => 'button', :onclick => "var q=$('#quantity', $(this).closest('form')); if(q.val() == '') { q.val('1'); };" %>
	  <% end %>
	
	  <%= label_tag :sizes, 'Talles' %>
	  <%= text_field_tag :sizes, product.sizes, :size => 14 %>
	
	  <% if product.in_cart %>
	  	<%= submit_tag 'Quitar', :onclick => "$('#quantity', $(this).closest('form')).val('');", :class => 'button' %>
	  <% end %>	
	
	<% end -%>
	
	<% if product.in_cart && params['action'] != 'carrito' && !(request.referer.end_with?("catalogo/carrito") && request.xhr?)%>
		<%= link_to 'ir al carrito y terminar la compra', :action => :carrito %>
	<% end %>
</div>