<!DOCTYPE html>
<html>
<head>
  <title>Distrilasalada</title>
  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<div class="container">
	<%= image_tag "logo.png", :id => "logo" %>

<div class="span-24" id="navigation">
	<ul class="right">
		<li><%= link_to "Quienes Somos" %></li>
		<li><%= link_to "Cómo Pedir" %></li>
		<li><%= link_to "Catálogo" %></li>
		<li><%= link_to "Contáctenos" %></li>
		<li><%= link_to "Registrarse", :controller => :welcome, :action => :registrarse %></li>
	</ul>
</div>

<hr>	

<div class="span-1">&nbsp;</div>
<div class="span-4 colborder" id="leftBar">
	
	<h3>Carrito
		<%= link_to :controller => :catalogo, :action => :carrito do %>
			<%= image_tag "cart.png", :class=> :right %>
		<% end %>
	</h3>
	<p>
		El importe de su pedido hasta ahora es de <span class="total"><%= number_to_currency @total %></span>
	</p>
	<%= link_to "Finalizar su compra", :controller => :catalogo, :action => :carrito %>
	<br/>	<br/>
	
	<h3>Productos</h3>
	<ul class="catalogs">
	<% for catalog in @products_menu %>
		<li>
			<span>
				<%= link_to catalog[:name], :controller => :catalogo, :action => :show, :catalog_name => catalog[:name] %>
				(<%= catalog[:count]%>)
			</span>
			<ul class="categories">
			<% for category in catalog[:categories] %>
				<li>
					<span>
					<%= link_to category[:name], :controller => :catalogo, :action => :show, :catalog_name => catalog[:name], :category_name => category[:name] %>
					(<%= category[:count]%>)
					</span>
				</li>
			<% end %>
			</ul>
		</li>
	<% end %>
	</ul>
</div>

<div class="span-17 last">
	<%= yield %>
</div>

<hr/>

</body>
</html>
