<!DOCTYPE html>
<html>
<head>
  <title>Distrilasalada</title>
  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<div class="container">

<div class="span-4 border">
	<ul>
		<li><%= link_to "Registrarse", :controller => :welcome, :action => :registrarse %></li>
		<li><%= link_to "Carrito", :controller => :catalogo, :action => :carrito %></li>
		<li><%= link_to "Hombre", :controller => :catalogo, :action => :hombre %></li>
	</ul>
</div>

<div class="span-20 last">
	<%= yield %>
</div>

</body>
</html>
