<!DOCTYPE html>
<html>
<head>
  <title>Distrilasalada</title>
  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]><%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %><![endif]-->
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
<div class="container">

<div class="span-4 border">
	<ul>
		<li><%= link_to "Registrarse", :controller => :welcome, :action => :registrarse %></li>
		<li><%= link_to "Carrito", :controller => :catalogo, :action => :carrito %></li>
	</ul>
	
	<ul>
	<% for catalog in @products_menu %>
		<li>
			<span>
				<%= link_to catalog[:name], :controller => :catalogo, :action => :show, :catalog_name => catalog[:name] %>
				(<%= catalog[:count]%>)
			</span>
			<ul>
			<% for category in catalog[:categories] %>
				<li><span><%= category[:name] %> (<%= category[:count]%>)</span></li>
			<% end %>
			</ul>
		</li>
	<% end %>
	</ul>
</div>

<div class="span-20 last">
	<%= yield %>
</div>

</body>
</html>
